container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true
  04_seed_project_data:
    command: "python load_PRJ_data_16_test.py"
    leader_only: true
  05_seed_link_tables:
    command: "python seed_data/load_linktables.py"
    leader_only: true
  06_seed_keywords:
    command: "python seed_data/keywords.py"
    leader_only: true
