
.no_bullets {
   list-style-type: none;
}

.container2 {
  margins: 40px;
  padding: 40px;
}

h1 {
  color:white;
}

svg {
  border-color: black;
  background-color: Snow;
}

#grey {
  background-color: #eee;
  border-color: black;
  border-style: solid;
  padding: 20px;
  margin: 20px;
}

#white{
  color: white;
}
#scatter_section {
  padding: 10px;
}

#map_figure, #funding_figure {
  float: right;
  max-width:410px;
  border-color: #333;
  border-style: solid;
  border-width: thin;
  margin: 10px;
}
#map,  #cost_scatter{
  padding: 10px;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}

#map_caption, #cost_scatter_caption  {
  font-weight: bold;
  padding: 0px 20px 10px 20px;
}


#word_cloud_figure {
  float: right;
  max-width:400px;
  border-color: #333;
  border-style: solid;
  border-width: thin;
  margin: 10px;
}
#wordcloud {
  padding: 20px;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}

#wordcloud_caption {
  font-weight: bold;
  padding: 0px 20px;
}

tr td, th {
  padding:10px;
  margin:10px;
  border: black;
  border-bottom: solid;
  border-width: thin;
}

#costTable {
  background-color: white;
  padding:20px;
  margin: 20px;
  border: black;
}

#keyword_table {
  background-color: white;
  padding:20px;
  margin:20px;
  border: black;
}

#grant_cost {
  background-color: #eee;
  padding:20px;
  margin:20px;
  border: black;
}

#vis-container {
  margin: 20px;
}

#logo {
  height: 110px;
  width: 134px;
  float: right;
  padding: 20px;
}

#statesvg{
  margin: 20px;
}
