
.no_bullets {
   list-style-type: none;
}

h1 {
  color:white;
}

svg {
  border-color: black;
  background-color: Snow;
}

#grey {
  background-color: #eee;
  border-color: black;
  border-style: solid;
  padding: 20px;
  margin: 20px;
}


tr td, th {
  padding:10px;
  margin:10px;
  border: black;
  border-bottom: solid;
  border-width: thin;
}

#costTable {
  background-color: white;
  padding:20px;
  margin: 20px;
  border: black;
}

#keyword_table {
  background-color: white;
  padding:20px;
  margin:20px;
  border: black;
}

#grant_cost {
  background-color: #eee;
  padding:20px;
  margin:20px;
  border: black;
}
