<!DOCTYPE html>
{% extends "CapApp/base.html"%}
{%block body_block%}

<h3>About Research Review</h3>

<article>
<p>
  <strong>This website makes it more possible for the general public to search the scientific research grants that are funded by the National Institutes of Health. </strong><br /> It  was created by Eva Sawyer, PhD, as a final project at Ada Developers Academy, Seattle, WA, USA.
</p>
<h4>Componets of this project:</h4>
<div>
    <h5>Search Page:</h5>
    <figure id = "index_figure">
     <img src="../static/index_scatter.png" alt="scatterplot" id ="index_scatter">
   <figcaption id = "index_scatter_caption">
    Total funding dollars awarded to different "project terms" in recent years.
 </figcaption>
      <p>
        On the home page a user can either click on a suggested search term, or enter a keyword, such as a disease name, that they are interested in.  This will launch a search of the "project terms" of every grant in the database of funded NIH grants (only years 2014 to present are currently available on this site)  Currently, searching a new keyword takes time (~20 mins), so it is suggested that users explore the website by clicking on the previously searched terms. The database was imported from publicly available csv files available:  <a link="exporter.nih.gov/ExPORTER_Catalog.aspx">NIH Exporter resource</a>.
      </p>
      <p>
        A scatterplot to the right of the page shows funding levels for commonly searched terms over recent years.  Mouse over the dots to get more information about the terms.
      </p>
</div>
<div>
  <p>
  <h5>Search Results Page:</h5>
  <p>
    This page has two sections, a <strong>Summary Figures</strong> and a list of the <strong>Search Results</strong>
  </p>
  <section>
    <p>
        <strong>Summary Figures</strong>:
    </p>
    <ul>
      <li>
         <figure id = "funding_figure">
          <img src="../static/cost_scatter.png" alt="scatterplot" id ="cost_scatter">
        <figcaption id = "cost_scatter_caption">
         Funding of a grant vs. the number of papers published off that funding.
      </figcaption>
      </figure>
        <strong>Cost table:</strong>
        This section which includes a table of <em>total, direct</em> and <em>indirect</em> costs.
        <p>
          Briefly, direct costs are clearly associated with a particular project, and include "salaries, travel, equipment, and supplies directly benefiting the grant-supported project or activity". Indirect costs are the funds that go to facilities operation and maintenance costs and go to the institution where the researcher works.  The total cost is the combined amount of direct and indirect costs.
        </p>
        <p>
            For a fuller explanation of these costs, see the NIH's description <a link="https://grants.nih.gov/grants/policy/nihgps/HTML5/section_7/7.3_direct_costs_and_facilities_and_administrative_costs.htm">here</a>.
        </p>
      </li>
      <li>
        <strong>Funding by grant type:</strong>
      </li>
      <li>
        <strong>Funding vs. Papers:</strong>
        <p>
          This scatterplot shows the relationship between funding and the number of papers published over the last 4 years for all grants with the specified keywords.  The graph should be interpreted in context: publications take years to produce, so there is little expectation that grants funded recently will have resulted in papers yet.  In the future the database will be expanded to cover more years and this graph will be more meaningful.

      </li>
      <li>
        <figure id = "map_figure">
          <img src="../static/map.png" alt="Map" id ="map">
        <figcaption id = "map_caption">
          An interactive map displaying the number of grants awarded to by location.
        </figcaption>
        </figure>
        <strong>Location of Funded Projects</strong>
        <p>
          This map displays how many grants have been awarded to institutions in different states.  Darker colors indicate more awards have been awarded to those states, lighter colors indicate less.  For more details about the institutions to which the awards were granted mouse over the graphic.
        </p>



      </li>

    </ul>
  </section>
  <section>
    <p>
    <strong>Search Results</strong>: <br />
    This is a list of the top 100 results from the search, ordered by year (2018 to 2014), and total cost (high to low).
    </p>
    <ul>


    <figure id = "word_cloud_figure">
      <img src="../static/wordcloud.png" alt="wordcloud" id ="wordcloud">
    <figcaption id = "wordcloud_caption">
      A wordcloud displaying words that are not common parts of speach and that are mentioned more than once in a grant or paper abstract.  The font is larger for words that are mentioned more times.
    </figcaption>
    </figure>

    </ul>



  </section>
</div>
<div>
  <h5>Publications page</h5>
  <p>
    <strong>Grant summary:</strong> This section provides more information on a single grant than was available on the search results page.  Specifically, if a project has received funding over several years, it links to the summaries of those projects.
  </p>
  <p>
    <strong>Boxplots</strong>:

  </p>
</div>
<p>
  <strong>Publication Results Page:</strong>
</p>



</article>



{% endblock %}
