<!DOCTYPE html>
{% extends "CapApp/base.html"%}
{% load static %}


  {%block body_block%}
  {% load humanize %}
  <style>
    .state{
      fill: none;
      stroke: #a9a9a9;
      stroke-width: 1;
    }
    .state:hover{
      fill-opacity:0.5;
    }
    #tooltip {
      position: absolute;
      text-align: center;
      padding: 20px;
      margin: 10px;
      font: 12px sans-serif;
      background: lightsteelblue;
      border: 1px;
      border-radius: 2px;
      pointer-events: none;
    }
    #tooltip h4{
      margin:0;
      font-size:14px;
    }
    #tooltip{
      background:rgba(0,0,0,0.9);
      border:1px solid grey;
      border-radius:5px;
      font-size:12px;
      width:auto;
      padding:4px;
      color:white;
      opacity:0;
    }
    #tooltip table{
      table-layout:fixed;
    }
    #tooltip tr td{
      padding:10px;
      margin:10px;
      border: white;
    }
    #tooltip tr td:nth-child(1){
      width:50px;
    }
    #tooltip tr td:nth-child(2){
      text-align:center;
    }
  </style>



    <div class="jumbotron">
      <h2>Summary Figures for Grants with Keyword <strong><em>{{keyword.keyword.totals.query}}</em></strong>: </h2>
      <ul>
        <li>
          <p>
            Number of grants:
            {{ keyword.grant_count|intcomma }}
          </p>
        </li>
        <li>
          <table id = "keyword_table">
            <tr>
              <th>
                Year
              </th>
              <th>
                Total
              </th>
              <th>
                Direct
              </th>
              <th>
                Indirect
              </th>
              <th>
                Number of grants
              </th>
            </tr>
            <tr>
              <td>
                2018
              </td>
              <td>
                ${{keyword.grant_total_cost_18|intcomma}}
              </td>
              <td>
                ${{keyword.grant_direct_cost_18|intcomma}}
              </td>
              <td>
                {{keyword.grant_indirect_cost_18|intcomma}}
              </td>
              <td>
                {{grant_stats.grant_count_18|intcomma}}
              </td>
            </tr>
            <tr>
              <td>
                2017
              </td>
              <td>
                ${{keyword.grant_total_cost_17|intcomma}}
              </td>
              <td>
                ${{keyword.grant_direct_cost_17|intcomma}}
              </td>
              <td>
                {{keyword.grant_indirect_cost_17|intcomma}}
              </td>
              <td>
                {{grant_stats.grant_count_17|intcomma}}
              </td>
            </tr>
            <tr>
              <td>
                2016
              </td>
              <td>
                ${{keyword.grant_total_cost_16|intcomma}}
              </td>
              <td>
                ${{keyword.grant_direct_cost_16|intcomma}}
              </td>
              <td>
                {{keyword.grant_indirect_cost_16|intcomma}}
              </td>
              <td>
                {{grant_stats.grant_count_16|intcomma}}
              </td>
            </tr>
            <tr>
              <td>
                2015
              <td>
              <td>
                ${{keyword.grant_total_cost_15|intcomma}}
              <td>
              <td>
                ${{keyword.grant_indirect_cost_15|intcomma}}
              <td>
              <td>
                {{keyword.grant_indirect_cost_15|intcomma}}
              <td>
              <td>
                {{grant_stats.grant_count_15|intcomma}}
              </td>
            </tr>
            <tr>
              <td>
                Total
              </td>
              <td>
                ${{keyword.grant_total_cost|intcomma}}
              </td>
              <td>
                ${{keyword.grant_indirect_cost|intcomma}}
              </td>
              <td>
                {{keyword.grant_indirect_cost|intcomma}}
              </td>
              <td>
                {{grant_stats.grant_count|intcomma}}
              </td>
            </tr>
          </table>



            <ul>
              <li>
                <p>
                  Cost in 2018 (total,  (indirect/ direct)): ${{grant_stats.2018.grant_total_cost|intcomma}},
                    (${{grant_stats.2018.grant_direct_cost|intcomma}}/ ${{grant_stats.2018.grant_indirect_cost|intcomma}})
                </p>
              </li>
              <li>
                Cotal cost in 2017: ${{grant_stats.2017.grant_total_cost|intcomma}},
                  (${{grant_stats.2017.grant_direct_cost|intcomma}}/ ${{grant_stats.2017.grant_indirect_cost|intcomma}})
              </li>
              <li>
                Cotal cost in 2016: ${{grant_stats.2016.grant_total_cost|intcomma}},
                  (${{grant_stats.2016.grant_direct_cost|intcomma}}/ ${{grant_stats.2016.grant_indirect_cost|intcomma}})
              </li>
              <li>
                Cotal cost in 2015: ${{grant_stats.2015.grant_total_cost|intcomma}},
                  (${{grant_stats.2015.grant_direct_cost|intcomma}}/ ${{grant_stats.2015.grant_indirect_cost|intcomma}})
              </li>
            </ul>
          </li>
          <li>
            <p>
              Funding by grant type:
            </p>
          <ul>
            <li>
              NIH Director’s Pioneer Award (DP1):
              {{grant_stats.totals.dp1_count}}
              Total cost:  ${{grant_stats.totals.dp1_total_cost|intcomma}}
            </li>
            <li>
              NIH Director’s New Innovator Award (DP2):
              {{grant_stats.totals.dp2_count}}
              Total cost: ${{grant_stats.dp2_total_cost|intcomma}}
            </li>
            <li>
              Outstanding Investigator Awards (R35):
              {{grant_stats.totals.r35_count}}
              Total cost: ${{grant_stats.totals.r35_total_cost|intcomma}}
            </li>
            <li>
              Research Project (R01):
              {{grant_stats.r01_count}}
              Total cost: ${{grant_stats.totals.r01_total_cost|intcomma}}
            </li>
            <li>
              Research Transition Award (R00):
              {{grant_stats.r00_count}}
              Total cost: ${{grant_stats.totals.r00_total_cost|intcomma}}
            </li>
            <li>
              Career Transition Award (K99):
              {{grant_stats.totals.k99_count}}
              Total cost: ${{grant_stats.totals.k99_total_cost|intcomma}}
            </li>
            <li>
              Traning grants (F30/F31/F32):
              {{grant_stats.totals.f30_count}}/{{grant_stats.totals.f31_count}}/{{grant_stats.totals.f32_count}}
              Total cost: ${{grant_stats.totals.f30_total_cost|intcomma}}/ ${{grant_stats.totals.f31_total_cost|intcomma}}/ ${{grant_stats.totals.f32_total_cost|intcomma}}
            </li>
          </ul>
          </li>
        </li>


      </ul>
    </div>
    <div>
      <h4>Location of funded grants</h4>
    <div id="tooltip"></div><!-- div to hold tooltip. -->
    <svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
    </div>
    <script>

    function tooltipHtml(n, d){	/* function to create html content string in tooltip div. */
      console.log(d)
      let string =  "<h4>"+n+"</h4>"
      if (d.first[1] > 0){
        string = string + "<p> Top Funded Institutions  </p>"
        string = string + "<table><tr><td>"+(d.first[0])+" </td><td> "+(d.first[1])+ " grant(s)"+"</td></tr>";
      }
      if (d.second[1] > 0){
        string = string +"<tr><td> "+(d.second[0])+" </td><td> "+(d.second[1])+ " grant(s) "+"</td></tr>";
      }
      if (d.third[1] > 0){
        string = string +"<tr><td>"+(d.third[0])+" </td><td> "+(d.third[1])+ " grant(s)"+"</td></tr>";
      }
      string = string + "</table><p>Total grants to state: </td><td>"+(d.value)+" </p> ";
      return string
    }
    let Data ={{states_dict|safe}};
    let inst ={{states_top_inst|safe}};
    let sampleData ={}
    let STATES = ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA","ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
    STATES.forEach(function(state){
        sampleData[state]={value: Data[state],
          first: inst[state][0],
          second: inst[state][1],
          third: inst[state][2],
          color:d3.interpolate("#ffffcc", "#800026")(Data[state]/100)};
           });
      console.log(sampleData)
    /* draw states on id #statesvg */
    uStates.draw("#statesvg", sampleData, tooltipHtml);
    d3.select(self.frameElement).style("height", "600px");
    </script>

    <div>
      <h2>Search Results</h2>
    {% if grants %}
      <ul class="no_bullets">
        {% for grant in grants %}

        <li>
          <article class = "grant-summary">
            <div class="grant_header">
          <h3>
           {{ forloop.counter0|add:grants.start_index }}.
          {{ grant.project_title }}</h3>
          <p>
          </div>

          <div class= "grant_information col-10">
          <div id={{grant.core_project_num}} class ="word_cloud pull-right "></div>
      <script>
          var fill = d3.scale.category20();
          var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);
          d3.layout.cloud().size([360, 360])
        .words({{grant.make_data_structure|safe}})
        .rotate(0)
        .padding(3)
        .fontSize(function(d) { return d.size; })
        .on("end", draw)
        .start();
        function draw(words) {
          d3.select("#{{grant.core_project_num}}").append("svg")
            .attr("width", 370)
            .attr("height", 370)
            .attr("class", "wordcloud")
            .append("g")
            // without the transform, words words would get cutoff to the left and top, they would
            // appear outside of the SVG area
            .attr("transform", "translate(180,190)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("fill", function(d, i) { return color(i); })
            .style("font-size", function(d) { return d.size + "px"; })
            .style("font-family", "Impact")
            .style("fill", function(d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
  }
      </script>

            <p>
              <strong>Principal Investigator(s):</strong>
            </p>

          <p>
            {{grant.pi_name}}
          </p>

          </p>
          <p>
          {{grant.org_name}}, {{grant.org_state}}
          </p>
          <p>
              <strong>Core Project Number:</strong> {{grant.core_project_num}}
          </p>
          <p>
            <strong>Number of years of funding:</strong> {{grant.support_year}}
            </p>
          </p>
          <p>
            <strong>Number of Papers:</strong> {{grant.number_of_papers|intcomma}}
            {% if grant.number_of_papers > 0%}
              <a href="{%url 'publications'%} ?app_id={{grant.application_id}}" class ="button">See the papers</a>

            <p class ="small">
              Due to limits set by the NIH,
              each paper takes 0.5 seconds to load.
            </p>
            {%endif%}
          <p>
            <strong>Activity Code:</strong> {{grant.activity}}
          </p>
          <p>
            Cost:
          </p>
          <table id="grant_cost">
            <tr>
              <th>
                Year
              </th>
              <th>
              Total Cost
            </th>
              <th>
              Direct Cost
            </th>
              <th>
              Indirect Cost
            </th>
            </tr>
            <tr>
              <td>
                {{grant.FY}}
              </td>
              <td>
                {%if grant.total_cost == None %}
                  ${{grant.total_cost_sub_project|intcomma}}
                {%else%}
                  ${{grant.total_cost|intcomma}}
                {%endif%}
              </td>
              <td>
                ${{grant.direct_cost_amt|intcomma}}
              </td>
              <td>
                ${{grant.indirect_cost_amt|intcomma}}
              </td>
            </tr>
            <tr>
            </tr>
            <tr>
              <td>
                Total for all funding years:
              </td>
              <td>
                ${{grant.total_funding_of_core_numb|intcomma}}
              </td>
              <td>
                ${{grant.total_direct_of_core_numb|intcomma}}
              </td>
              <td>
                ${{grant.total_indirect_of_core_numb|intcomma}}
              </td>
            </tr>
          </table>
          </div>
          <div class="abstract">
          <p>
            <strong>Abstract:</strong>
          {{grant.abstract_text}}
          </p>
          </div>
          </article>
        </li>

        {% endfor %}
      </ul>

    {% endif %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if grants.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ grants.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ grants.number }} of {{ grants.paginator.num_pages }}
            </span>

            {% if grants.has_next %}
                <a href="?page={{ grants.next_page_number }}">next</a>
                <a href="?page={{ grants.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>



  {% endblock %}

  <!-- </body>
</html> -->
